/* ========== design system ============= */

/* tag a root */
a {
  text-decoration: none;
  color: var(--color4);
}
/* font poppins */
* {
 font-family: 'Poppins', sans-serif;
}

/* color styles */
:root {
 --color1:#4077E3;
 --color2:#DDE9FA;
 --color3:#F5F6FA;
 --color4:#000000;
 --color5:#858A8F;
 --color6:#E2E2E2;
 --color7:#FFFFFF;
}
/* shadow */
:root {
 --shadow-blue-1: 0px 25px 30px 0px rgba(83, 121, 219, 0.25);
 --shadow-gray-1: 0px 25px 30px 0px rgba(167, 171, 182, 0.10);
 --shadow-gray-2: 0px 63px 50px 0px rgba(67, 67, 68, 0.07);
 ;
}
html {
 font-size: calc(8.5px + 0.390625vw);
}
/* text styles */
.display1 {
 font-size: 5.7rem;
 font-weight: 700;

}
.display2 {
font-size: 4.2rem;
font-weight: 700;
}
.display3 {
font-size: 3.4rem;
font-weight: 700;
}
.heading1 {
font-size: 2.95rem;
font-weight: 600;
}
.heading2 {
font-size: 2.8rem;
font-weight: 600;
}
.heading3 {
font-size: 2rem;
font-weight: 600;
}
.heading4 {
font-size: 1.8rem;
font-weight: 600;
}
.heading5 {
font-size: 1.7rem;
font-weight: 600;
}
.bodytext {
font-size: 1.4rem;
font-weight: 500;
}
.smalltext {
font-size: 1.2rem;
font-weight: 500;
}
.smallertext {
font-size: 1rem;
}
/* body */
body {
 background-color: var(--color3);
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* animate-loading */
.animate-loading {
  animation: animate-loading 2s infinite;
  fill: var(--color1);
}
/* ui components */
/* navbar */
nav {
 background-color: var(--color3);
 transition: 0.5s ease-in-out;
 padding: 20px 0;
 width: 100%;
 z-index: 99;
 position: absolute;
}
@media (min-width: 767.98px) {
 nav {
  position: relative;
 }
}
header .hamburger {
 width: 40px;
 cursor: pointer;
 position: absolute;
 z-index: 999;
 margin: 10px 30px;
}
nav div.col-9 {
 gap: 29px;
}
nav a {
 color: var(--color4);
 text-decoration: none;
}
nav .line {
 width: 0%;
 height: 1px;
 background-color: var(--color4);
 transition: 0.25s;
}
nav a:hover .line {
 width: 100%;
}
nav .row{
 flex-direction: column;
 align-items: center;
}
nav .menus {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
 gap: 29px;
}
nav .logo {
 display: flex;
 justify-content: center;
}
nav.hidden {
 transform: translateY(-150%);
}
@media (min-width: 767.98px) {
 nav .row{
  flex-direction: row;
 }
 header .hamburger {
  flex-direction: row;
  display: none;
 }
 nav .menus {
  flex-direction: row;
  height: 100%;
 }
 nav {
  background-color: var(--color3);
 }
 nav.hidden {
  transform: translateX(0%);
 }
}
/* button1 */
.button1 {
 border-radius: 30px;
 background: linear-gradient(48deg, #5379DB 0%, #0055FD 100%);
 box-shadow: 0px 25px 30px 0px rgba(0, 65, 232, 0.10);
 padding: 16px 32px;
 gap: 10px;
 color: var(--color7);
 display: flex;
 align-items: center;
 justify-content: center;
}
.button1:hover {
 border: 1px solid var(--color1);
 background: var(--color7);
 color: var(--color1);
}
.button1 .icon {
 fill: var(--color7);
}
.button1:hover .icon {
 fill: var(--color1);
}
/* card1 */
.card1 {
 height: 100%;
 padding: 12px 0;
 cursor: pointer;
}

.card1 .warp {
 transition: 1s ease-in-out;
 /* background-image: url('/src/img/laptop.jpg'); */
 height: 100%;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 display: flex;
 /* justify-content: flex-end; */
 align-items: end;
 border-radius: 20px;
 min-height: 50vh;
 width: 100%;
}
.card1:hover .warp {
 background-size: 120% 120%;
}
.card1 h6 {
 color: var(--color7);
}
.card1 p {
 color: var(--color6);
}
.card1 .desc {
 padding: 10px 20px;
}
@media (min-width: 767.98px) {
  .card1 .desc {
    padding: 24px 40px;
    background: linear-gradient( rgba(0, 0, 0, 0), black);
    width: 100%;
    border-radius: 0 0 20px 20px;
    transition: 0.5s ease-in-out;
    min-height: 100px;
   }
}
.card1:hover .desc {
 min-height: 70%;
}
.card1 .btn {
 border-radius: 100px;
 padding: 16px 32px;
}
.card1 .button {
 display: flex;
 justify-content: center;
 align-items: center;
}

/* card2 */
.card2 {
 transition: 0.25s ease-in-out;
 border-radius: 20px;
 box-shadow: 0px 0px rgba(0, 0, 0, 0);
 cursor: pointer;
}
.card2 img.item-img {
  min-width: 200px;
  border-radius: 20px;
  height: 300px;
  width: 100%;
  /* min-width: 400px; */
}

@media (min-width: 500px) {
  .card2 img.item-img {
    height: 350px;
    min-width: 350px;
  }
}

.card2:hover {
 box-shadow: var(--shadow-gray-2);
}
.card2 img {
 width: 100%;
 /* object-fit: cover; */
}
.card2 .desc {
 margin-bottom: 45px;
}
.card2 .contain {
 padding: 16px;
}
.card2 img.pointer {
 width: 5px;
}
.card2 .desc h3 {
 margin-top: 11px;
}
.card2 .action {
 display: flex;
 justify-content: center;
 align-items: center;
}
.card2 .action img {
 width: 20px;
}
.card2 .action span {
 margin-left: 10px;
 color: var(--color5);
}
.card2 .right .action {
 display: flex;
 justify-content: flex-end;
}

/* card3 */
.card3 {
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--color7);
  border-radius: 20px;
  max-width: 302px;
  box-shadow: 0px 0px rgba(0, 0, 0, 0);
  transition: 0.25s ease-in-out;
  cursor: pointer;
 }
.card3 img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  width: 200px;
  border-radius: 100%;
 }
.card3 p {
  color: var(--color5);
  margin-top: 14px;
 }
.card3 h5 {
  color: var(--color4);
  margin-top: 22px;
  margin: 0;
 }
.card3 h6 {
  color: var(--color5);
 }
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input1 */
.input1 {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: var(--color7);
 padding: 16px 32px;
 border-radius: 100px;
 border: 1px solid var(--color1);
 max-width: 350px;
}
.input1 svg path{
 stroke: var(--color1);
}
.input1 input{
 border: none;
}
.input1 input:focus {
 outline: none;
}
.input1 > * {
 color: var(--color1);
}

/* button to up */
#scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--color1);
  border: none;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  z-index: 99;
}

#scrollButton svg {
  display: block;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

#scrollButton:hover svg {
  transform: translateY(-3px);
}

/* footer */
footer h2 {
 color: var(--color2);
}
footer p {
 color: var(--color2);
}
footer .banner3 {
 background-color: var(--color1);
 border-radius: 20px;
}
footer .banner3-main {
 background-image: url('/src/img/bg-banner3.png');
 background-size: cover;
 padding:20px 10px;
}
@media (min-width: 767.98px) {
 footer .banner3-main {
  padding: 51px 43px;
 }
}
footer .banner3 .row {
 align-items: center;
}
footer .banner3-main .left p {
 max-width: 600px;
}
footer .button1 {
 background: var(--color7)!important;
 color: var(--color1);
}
footer .banner3 .right {
 display: flex;
 justify-content: center;
}
@media (min-width: 767.98px) {
 footer .banner3 .right {
  justify-content: flex-end;
 }
}
footer .footer p.end {
 text-align: start;
 color: var(--color5);
}
@media (min-width: 767.98px) {
 footer .footer p.end {
  text-align: end;
 }
}
footer .footer {
 margin: 40px 0;
}
footer .footer .left h6 {
 color: var(--color4);
}
footer .footer .left p {
 color: var(--color5);
}
footer .footer .left ul {
 list-style: none;
 display: flex;
 gap: 10px;
 padding: 0px;
 align-items: center;
 margin-top: 20px;
}
@media (min-width: 767.98px) {
 footer .footer .left ul {
  margin-top: 100px;
 }
}
footer .footer .center ul {
 list-style: none;
 padding: 0;
}
footer .footer .center ul li {
 padding: 5px 0;
}
footer .footer .center ul li a{
 color: var(--color5);
 text-decoration: none;
 transition: 0.5s;
}
footer .footer .center ul li a:hover{
 color: var(--color4);
}
footer .footer .right ul {
 list-style: none;
 padding: 0;
}
footer .footer .right ul li {
 color: var(--color5);
 padding: 5px 0;
}
footer .footer .right ul li img {
 width: 100%;
 max-width: 40px;
}

/* ========== dashboard - beranda section ========== */
.banner {
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.banner p {
 color: var(--color5);
}
.banner h3 {
 color: var(--color5);
 margin-top: 33px;
}
.banner .left {
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.banner .right img{
 width: 100%;
 display: none;
}
.banner .btn {
 margin-top: 31px;
}
.banner .row{
 flex-direction: column-reverse;
}
@media (min-width: 767.98px) {
 .banner .row{
  flex-direction: row;
 }
 .banner .right img{
  display: block;
 }
}
/* ========== service - beranda section ========== */
.service {
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.service .left img{
 width: 100%;
}
.service .right {
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.service .right h2 {
 color: var(--color1);
 margin-bottom: 40px;
}
.service .items {
 gap: 40px;
}
.service .items .item {
 display: flex;
 justify-content: center;
 align-items: center;
}
.service .items .item p {
 color: var(--color5);
}
/* ========== banner2 - beranda section ========== */
.banner2 {
 padding: 64px 0;
}
.banner2 .row {
 justify-content: space-evenly;
}
.banner2 .left {
 background-color: var(--color1);
 min-height: 320px;
 border-radius: 24px;
}
.banner2 .right {
 background-color: var(--color6);
 min-height: 320px;
 border-radius: 24px;
 display: flex;
 justify-content: center;
 flex-direction: column;
 padding: 10px 30px;
}
.banner2 .button .row {
 justify-content: center;
}
@media (min-width: 767.98px) {
 .banner2 .button .row {
  justify-content: flex-end;
 }
}
.banner2 .right h2 span {
 color: var(--color1);
}
.banner2 .right h6 {
 color: var(--color5);
 margin-top: 11px;
}
.banner2 .right .items {
 margin-top: 21px;
}
.banner2 .right .items h3 {
 color: var(--color1);
 text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.banner2 .right .items p {
 color: var(--color5);
}
.banner2 .right .items .item {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.banner2 .left {
 padding: 24px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 position: relative;
}
.banner2 .left img {
 position: absolute;
 bottom: 0;
 left: -10px;
}
.banner2 .left h2 {
 color: var(--color7);
}
.banner2 .left h6,
.banner2 .left p {
 color: var(--color6);
}
/* ========== project - beranda section ========== */
.project {
 min-height: 100vh;
}
.project .title {
 text-align: center;
}
.project .title h6 {
 margin-bottom: 0px;
 color: var(--color5);
}
.project .title h2 span{
color: var(--color1);
}
.project .title p {
 color: var(--color5);
 margin-top: 24px;
}
.project .buttons {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 40px;
}

/* ========== testimoni- beranda section ========== */
.testimoni {
 margin: 195px 0;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}
.testimoni .title {
 text-align: center;
 margin-bottom: 20px;
}
.testimoni .title h2 span{
 color: var(--color1);
}
.testimoni .title p {
 color: var(--color5);
 max-width: 650px;
 margin: auto;
}
.testimoni .beranda-swiper-pagination {
 display: flex;
 justify-content: center;
 align-items: center;
}
.testimoni .beranda-swiper-pagination-testimoni {
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
}
.testimoni .swiper-wrapper {
 padding: 80px 0;
}
.testimoni .swiper-pagination-bullet-active {
 background: var(--color5);
}
.testimoni .swiper-slide-next .card3 {
 transform: scale(1.2);
 box-shadow: var(--shadow-gray-1);
}
/* ========== news - beranda section ========== */
.news {
 display: flex;
 flex-direction: column;
 justify-content: center;
 min-height: 100vh;
 margin: 100px 0;
}
.news .title p {
 color: var(--color5);
 max-width: 700px;
}
.news .swiper-slide {
 padding: 20px;
}
.news .title h2 span{
 color: var(--color1);
}
.news .swiper-pagination-bullet-active {
 background: var(--color5);
}
/* ========== inspiration - beranda section ========== */
.inspiration .title .right{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 5px 0;
}
@media (min-width: 767.98px) {
 .inspiration .title .right{
  justify-content: flex-end;
  align-items: flex-end;
 }
}
.inspiration .title h6{
color: var(--color1);
}
.inspiration h3 {
 color: var(--color5);
 max-width: 500px;
 text-align: center;
 margin-top: 20px;
}
@media (min-width: 767.98px) {
 .inspiration h3 {
  text-align: start;
  margin-top: 0;
 }
}
.inspiration .main {
 margin: 29px 0;
}
.inspiration .main .row {
 margin: 10px 0;
}
.inspiration .main .item{
 height: 233px;
 background-position: center;
 background-size: cover;
}
.inspiration .main {
 overflow-x: hidden;
}
.inspiration .main .row:nth-child(1) {
 animation: animation1 10s infinite ease-in-out;
 width: 400%;
}
@media (min-width: 767.98px) {
 .inspiration .main .row:nth-child(1) {
  width: 180%;
 }
}
.inspiration .main .row:nth-child(2) {
 animation: animation2 15s infinite ease-in-out;
 width: 400%;
}
@media (min-width: 767.98px) {
 .inspiration .main .row:nth-child(2) {
  width: 180%;
 }
}
@keyframes animation1 {
 0% {
  transform: translateX(0px);
 }
 50% {
  transform: translateX(-250px);
 }
 100% {
  transform: translateX(0px);
 }
}
@keyframes animation2 {
 0% {
  transform: translateX(0px);
 }
 50% {
  transform: translateX(-100px);
 }
 100% {
  transform: translateX(0px);
 }
}
/* ========== banner4 component ========== */
.banner4 h6 {
 padding-top: 44px;
 color: var(--color5);
}
.banner4 h1 {
 margin-bottom: 4px;
}
@media (min-width: 767.98px) {
 .banner4 h1 {
  margin-bottom: 24px;
 }
}
.banner4 h1 span {
 color: var(--color1);
}
.banner4 p {
 color: var(--color5);
 margin: 0;
}
@media (min-width: 767.98px) {
 .p-list .card1{
  height: 382px;
 }
}
.banner4 .right {
 display: flex;
 justify-content: start;
 margin-top: 20px;
}
@media (min-width: 767.98px) {
 .banner4 .right {
  justify-content: flex-end;
  margin-top: 0px;
 }
}
/* ========== project-list (p -> project list) ========== */
.p-list {
 padding: 78px 0;
}
.p-list .card1{
 height: auto;
}
/* ========== blog-list (b -> blog list) ========== */
.b-list {
 margin: 78px 0;
}
.b-list .card2 {
 margin-bottom: 20px;
}
/* ========== blog-detail (bd-> blog detail) ========== */
.bd img {
 width: 100%;
 border-radius: 20px;
 max-width: 1000px;
 margin: auto;
 display: flex;
 margin-top: 34px;
 margin-bottom:73px ;
}
.bd-title h6 {
 padding-top: 40px;
 color: var(--color5);
}
@media (min-width: 767.98px) {
 .bd-title h6 {
  padding-top: 90px;
 }
}
.bd .desc {
 margin-bottom: 100px;
}
.bd-sosmed .line {
 width: 100%;
 height: 2px;
 background-color: var(--color6);
 margin-top: 25px;
 margin-bottom: 25px;
}
.bd-sosmed .items {
 display: flex;
 justify-content: space-between;
}
.bd-sosmed .items .item {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}
.bd-sosmed img {
 width: 20px;
 box-shadow: var(--shadow-gray-2);
}